KERNEL=="video*", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0501", MODE:="0777", SYMLINK+="camera_depth"
KERNEL=="video*", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6340", MODE:="0777", SYMLINK+="camera_usb"
KERNEL=="video*", ATTRS{idVendor}=="038f", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="camera_usb"
KERNEL=="video*", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9230", MODE:="0777", SYMLINK+="camera_wide_angle"
KERNEL=="video*", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="636b", MODE:="0777", SYMLINK+="camera_wide_angle"
